
:root {
  --darkOrange: #ad4132;
  --darkYellow: #f4ab2e;
  --darkGreen: #56733c;
  --midGreen: #afa842;
  --lightGreen: #c6db9f;
  --brown: #784742;
}

body {
  height: 1000px;
}

.mainbg-image {
  background-image: url(../images/food-photo.jpeg);
  background-color: var(--lightGreen);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: top 0px center;
  width: 100%;
}

.header-bg {
  background-color: var(--brown);
  width: 100%;
  color: var(--darkYellow);
}

input {
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

