body {
  height: 1000px;
}

.landingBG {
  background-image: url(../images/food-photo.jpeg);
  background-color: #c6db9f;
  background-size: cover;
  background-repeat: no-repeat;
}

textarea {
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
