:root {
  --darkOrange: #ad4132;
  --darkYellow: #f4ab2e;
  --darkGreen: #56733c;
  --midGreen: #afa842;
  --lightGreen: #c6db9f;
  --brown: #784742;
}

body {
  background-image: url(../images/food-photo.jpeg);
  background-color: var(--darkOrange);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: top 125px center;
  width: 100%;
  padding-bottom: 200px;
}

.special-card {
  background: rgba(255, 255, 255, 0.603);
  box-shadow: 0 0 20px;
}

.special-card-recipes {
  background: rgba(255, 255, 255, 0.603);
  box-shadow: 0 0 20px;
}

.special-card2 {
  background: rgb(252, 252, 252);
  box-shadow: 0 0 20px;
}

.special-button {
  background-color: var(--lightGreen);
  border: solid var(--darkGreen);
}

.special-button1 {
  background-color: var(--darkYellow);
  border: solid var(--darkGreen);
}

.special-button2 {
  background-color: var(--darkOrange);
  border: solid var(--darkGreen);
}

.special-nav {
  background-image: linear-gradient(rgb(252, 243, 243), var(--darkOrange));
}

.special-footer {
  background-image: linear-gradient(var(--darkOrange), rgb(252, 243, 243));
}

.header-bg {
  background-color: var(--brown);
  width: 100%;
  color: var(--darkYellow);
}

input {
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

ul {
  margin: 3rem auto;
  font-size: 1.75rem;
  padding: 0;
  list-style-type: none;
}

ul li {
  margin: 1.2rem 0;
}

@media (max-width: 730px) {
  body {
    background-image: none;
  }
  .special-button2 {
    background-color: var(--midGreen);
    border: solid var(--darkGreen);
    color: var();
  }
}
